.component {
    position: relative;
  }

.overlay {
    background-color: rgba(124, 124, 124, 0.5);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index:1 !important;
    display:none;
  }
  .placeholder{
    background-color: rgba(250, 255, 182, 0.5);
    height: 180px;
    width:120px;
    line-height: 1.2em;
    margin-left:2px;
    margin-right:2px;
  }

  .dm-uploader{cursor:default;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.dm-uploader .btn{position:relative;overflow:hidden}.dm-uploader .btn input[type=file]{position:absolute;top:0;right:0;margin:0;border:solid transparent;width:100%;opacity:0;cursor:pointer}
