// Variables
/* Webfont: asterina-Regular */@font-face {
    font-family: 'asterina';
    src: url('../fonts/asterina.eot'); /* IE9 Compat Modes */
    src: url('../fonts/asterina.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/asterina.woff') format('woff'), /* Modern Browsers */
    url('../fonts/asterina.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');



@import 'config/variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~bootstrap-select/sass/bootstrap-select";

@import "~air-datepicker/dist/css/datepicker.min.css";
@import "~air-datepicker/src/sass/timepicker";
@import "~fullcalendar/dist/fullcalendar.min.css";

@import '~swiper/swiper';
@import '~swiper/components/pagination/pagination';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/solid';

@import "~xzoom/src/xzoom.css";


@import "components/buttons";
@import "components/list-group";
@import "components/text";
@import "components/forms";
@import "components/helpers";
@import "components/hero";
@import "components/navbar";
@import "components/sections";
@import "components/cards";
@import "components/shop";
@import "components/calendar";
@import "components/swiper";
@import "components/faq";


@media (max-width: 959px) {
    html {
        //font-size: 14px;
    }
}

body {
    background-color: #FFF;
    @include media-breakpoint-up(md) {
        padding: 0 20px 20px;
    }
    @include media-breakpoint-up(lg) {
        padding: 0 25px 25px;
    }
}

.modal{
    .rent-price-wrapper{
        font-weight: bolder;
        color: $primary;
        letter-spacing: 2px;
    }
}

.loading{
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255,255,255,0.1);
    z-index: 100000;

}

@keyframes spinner {
    from {
        transform: rotate(0deg);
    } to {
          transform: rotate(360deg);
      }
}


#spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-width: 40px;
    min-height: 40px;
    border: 5px solid rgba(255,255,255,.1);
    border-right: 5px solid orange;
    border-radius: 50%;
    animation: spinner 1s linear infinite;
}

.has-search{
    .form-control{
        padding-left: 2rem;

    }
    &.dirty:after {
        content: quote($fa-var-times);
        font-family: 'Font Awesome 5 Free';
        display: block;
        width: 20px;
        height: 20px;
        position: absolute;
        background-color: #f44336;
        z-index:1;
        right: 14px;
        top: 0;
        bottom: 0;
        margin: auto;
        padding: 2px;
        border-radius: 50%;
        text-align: center;
        color: white;
        font-weight: normal;
        font-size: 12px;
        line-height: 17px;
        cursor: pointer;
    }
    .form-control-feedback{
        position: absolute;
        z-index: 2;
        display: block;
        width: 2rem;
        height: 2.2rem;
        line-height: 2.2rem;
        text-align: center;
        pointer-events: none;
        color: #aaa;
    }
}

.list-group-product-filter{
    border-bottom: 1px solid $border-color;
    position: relative;
    max-height: 330px;
    overflow: auto;
    .list-group-item{
        position: relative;
        cursor: pointer;
    }
    .fake-input{
        width: 1px;
        height: 1px;
        position: absolute;
        left: 0;
        visibility: hidden;
        opacity: 0;

    }

}

.badge{
    &.status{
        &-1{
            background-color: #ffc107;
        }
        &-2{
            background-color: #a4d671;
            color:white
        }
        &-3{
            background-color: #00bcd4;
        }
        &-4{
            background-color: #da4779;
            color:white
        }
        &-5{
            background-color: #92a8b3;
            color:white
        }
        &-6{
            background-color: #d3d3d3;
            text-decoration: line-through;
        }


    }
    &.booking-type{
        background-color: #3c4b64;
        color: white;
    }
}
.icon-lg{
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    font-size: 1rem;
}
.booking-card-label{
    color: #777f90;
    font-weight: bold;
    text-transform: uppercase;
}
