//
// Buttons
// --------------------------------------------------
a {
    transition: all 0.3s ease-out;

    &:hover {
        text-decoration: none;
    }
}

.btn {
    &:not(.dropdown-toggle){
        text-transform: uppercase;
        white-space: nowrap;
        font-size: 15px;
        font-weight: 700;
        font-style: normal;
        line-height: 1.5em;
        letter-spacing: 2px;
    }

    &-primary {
        color: #fff;
    }
}



