//
// Text
// --------------------------------------------------


.calendar{
    width: 100%;
    position: relative;

    @include media-breakpoint-up(sm){
        width: 100%;
        max-width: 350px;
    }

    &.disabled {
        &:after {
            content: '';
            display: block;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 3;
            background: rgba(0,0,0,0.3);
        }
    }

    .fc-toolbar{
        h2{
            font-size: 20px;
            line-height: 0px;
            text-transform: capitalize;
            color: $secondary;
        }
        .fc-button{
            background-image: none;
            @extend .btn;
            @extend .btn-secondary;
            .fc-icon {
                margin: 0;
                top: -2px;
            }
        }
    }
    thead.fc-head {
        text-transform: uppercase;
        font-size: 12px;
        background-color: $primary;
        color: #FFF;
    }
    .fc-day-grid-container{
        height: auto !important;
    }
    .fc-day-number {
        float: none !important;
        padding: 0;
        line-height: 30px;
    }
    .fc-day-top{
        text-align: center;
    }
    .fc-body .fc-row,
    .fc-bg .fc-day{
        min-height: auto;
        height: 34px;
    }
    .fc-row .fc-content-skeleton{
        padding-bottom: 0;
    }
    .fc-content-skeleton{
        pointer-events: none;
    }
    .fc-bg .fc-day:not(.bg-locked){
        &:hover{
            cursor: pointer;
            background-color: $primary;
        }
    }

    .bg-locked {
        cursor: not-allowed;
        background-color: #eeecf3;
        span {
            opacity: 0.5;
        }
    }
}
