//
// Cards
// --------------------------------------------------

.card {
    //margin-bottom: 1.5rem;
    position: relative;

    .card-body.--hidden {
        position: absolute;
        left: -1px;
        top: 100%;
        width: calc(100% + 2px );
        margin-top: -1.25rem;
        transition: all 0.15s ease-in-out;
        background-color: #fff;
        opacity: 0;
        visibility: hidden;
        z-index: 20;
        transform: translateY(+20px);
    }

}
.product-card{
    $card : &;
    border-color: transparent;
    position: relative;
    height: 100%;
    transition: border 0.3s ease-out;

    &.disabled{
        &:after{
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 3;
            background: rgba(255,255,255,0.5);

        }
    }

    .img-wrapper{
        overflow: hidden;
        position: relative;
        margin-bottom: 8px;

        &:hover{
            .--back {
                transform: translateX(0);
                opacity: 1;
                visibility: visible;
            }
            .--front {
                transform: translateX(-50px);
                opacity: 0;
                visibility: hidden;
            }
        }
    }

    &__img{
        transition: all 0.6s ease-out;
        width: 100%;
        &.--front {
            position: absolute;
            top: 0;
            left: 0;
            transform: translateX(0);
            opacity: 1;
            visibility: visible;
            z-index: 1;
        }
        &.--back {
            transform: translateX(50px);
            opacity: 0;
            visibility: visible;
        }
    }

    &__brand {
        position: absolute;
        bottom: 20px;
        left: 20px;
        padding: 10px;
        text-align: center;
        width: calc( 100% - 40px);
        background-color: rgba($secondary, 0.8);
        font-weight: bold;
        color: #FFF;
        text-transform: uppercase;
        font-size: 13px;
        z-index: 3;
        transform: translateY(10px);
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-out;
    }

    &__category {
        padding-left: 1.5rem;
        text-transform: uppercase;
        color: $secondary;
        font-size: 0.725rem;
        position: relative;
        letter-spacing: 2px;

        &::after {
            content: '';
            display: block;
            height: 1px ;
            width: 1rem ;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: $secondary;
            transition: background-color 0.3s ease-out;
        }

        &:hover {
            color: $primary;

            &::after {
                background-color: $primary;
            }
        }

    }

    &__title {
        font-size: 1rem;
        color: $primary;
        line-height: 23px;
        transition: color 0.3s ease-out;

        &:hover{
            color: $body-color;
        }
    }

    &__price {
        font-size: 26px;
    }

    &__brand.disabled {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }

    &:hover:not(.disabled) {
        border-color: $primary;

        .card-body.--hidden {
            border-left: 1px solid $primary ;
            border-right: 1px solid $primary ;
            border-bottom: 1px solid $primary ;
        }

        #{$card}__brand {
            transform: translateY(0);
            opacity: 1;
            visibility: visible;
        }
    }
}


.features__icon{
    height: 50px;
    width: 50px;
}
.icon-wrapper{
    text-align: center;
    line-height: 50px;
    width: 80px;
    padding: 15px;
    height: 80px;
    background-color: #fff;
    border-radius: 50%;
    margin-bottom: 15px;
}



.filter-card {
    &__title {
        font-weight: bold;
        font-size: 15px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
    }
}



