.accordion .card {
    background: none;
    border: none;

    .card-header {
        background: none;
        border: none;
        padding: .4rem 1rem;
        font-family: "Roboto", sans-serif;

        a {
            text-decoration: none !important;
        }

        i {
            font-size: 1.2rem;
            font-weight: bold;
            position: absolute;
            left: 0;
            top: 9px;
            transform: rotate(180deg);
            letter-spacing: 0;
            transition: 0.3s all ease-out;
        }

        h2 span {
            float: left;
            margin-top: 10px;
        }
    }

    .trigger {
        color: $primary;
        font-size: 1.04rem;
        text-align: left;
        position: relative;
        font-weight: 500;
        padding-left: 2rem;
        padding-top: 9px;
        padding-bottom: 9px;
        cursor: pointer;
        display: inline-block;


        &.collapsed {
            color: #2f2f31;
        }

        &:hover{
            color: $primary;
        }
    }

    .card-body {
        color: #324353;
        padding: 0.5rem 3rem;
    }



    .collapsed i {
        transform: rotate(0);
    }
}

