//
// Select
// --------------------------------------------------

.bootstrap-select {
    &.form-control{
        border: 1px solid $gray-400;
    }

    .btn {
        &.dropdown-toggle{
            text-transform: uppercase;
            font-size: 13px;
            font-weight: bold;
            //border: none;
            color: inherit;

            &::after {
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23373f50' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
                background-repeat: no-repeat;
                background-size: 16px 12px;
                width: 16px;
                height: 12px;
                display: block;
                border: none;
                margin-top: 1px;
            }
            &:hover {
                &::after {
                    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23FFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
                }
            }
        }

        &:hover,
        &:focus {
            border-radius: 0 !important;
            background-color: $primary !important;
            color: #fff !important;
            outline: none !important;
        }
    }
}

.form-text {
    font-size: 80%;
}

// Custom file input drop area

.file-drop-area {
    position: relative;
    padding: ($spacer * 2) $spacer;
    transition: $input-transition;
    border: ($input-border-width * 2) dashed $input-border-color;
    background-color: $input-bg;
    text-align: center;
    cursor: pointer;

    .file-drop-input {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
        opacity: 0;
        outline: none;
        cursor: pointer;
        z-index: 2;
    }

    .fas {
        display: block;
        margin-bottom: .75rem;
        color: $gray-500;
        font-size: 24px;
    }

    .file-drop-preview {
        max-width: $file-drop-area-preview-width;
        margin: {
            right: auto;
            bottom: .75rem;
            left: auto;
        }
    }

    .file-drop-message {
        display: block;
        font-size: $font-size-sm;
        margin-bottom: 1.25rem;
    }

    .btn {
        position: relative;
        z-index: 3;
        pointer-events: none;
    }

    &:hover {
        border-color: darken($input-border-color, 7%);
    }
}




form {
    .form-label {
        font-weight: bold;
        text-transform: uppercase;
    }
}

.btn-group.btn-group-toggle {
    input {
        opacity: 0;
        position: absolute;
        visibility: hidden;
    }

    input:checked ~ label{
        color: #FFF;
        background-color: darken($primary,10%);
    }


}



