.dark-overlay{
    position: relative;
    overflow: hidden;

    &::after{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        opacity: 0.5;
        background: $secondary;
        z-index: 1;
    }
}

.letter-spacing-4 {
    letter-spacing: 4px;
}

.ml--100{
    margin-left: -100px;
    z-index: 2;
}

.row-grid {
    & + .row-grid {
        margin-top: 3rem;
    }

    & > [class*="col-"] + [class*="col-"] {
        margin-top: 3rem;
    }
    @include media-breakpoint-up( lg ) {
        &.row > [class*="col-lg-"] + [class*="col-lg-"] {
            margin-top: 0;
        }
    }

    @include media-breakpoint-up( md ) {
        &.row > [class*="col-md-"] + [class*="col-md-"] {
            margin-top: 0;
        }
    }

    @include media-breakpoint-up( sm ) {
        &.row > [class*="col-sm-"] + [class*="col-sm-"] {
            margin-top: 0;
        }
    }
}

.bg-renting {
    background-color: #4dc0b5 !important;
    position: relative;
    &:after{
        width: 100%;
        text-align: center;
        display: inline-block;
        font-size: 10px;
        position: absolute;
        bottom: 0;
        left: 1px;
        font-weight: bold;
        color: white;
    }
    &:before{
        width: 2px;
        height: 100%;
        top: 0;
        content: '';
        display: block;
        position: absolute;
    }

    &.start {
        &:before{
            left: 0;
            background-color: darken(#4dc0b5,20%);
        }

        &:after{
            content: 'Réception';
        }
    }
    &.end {
        &:before{
            right: 0;
            background-color: darken(#4dc0b5,20%);
        }
        &:after{
            content: 'Retour';
        }
    }
}
