//
// Navbar
// --------------------------------------------------

.hero-home {
    display: flex;
    position: relative;
    align-items: center;
    height: calc(100vh - 76px - 20px);
    min-height: 460px;
    @include media-breakpoint-up(lg) {
        min-height: 400px;
    }
}



.hero-home {
    position: relative;
    text-align: center;
    background: #f8f9fa;
    padding-top: 30px;
    //box-shadow: 0 0.05rem 0.3rem rgba(0,0,0,0.1);

    .hero-slider {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;

        .swiper-slide {
            height: 100%;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
        }
    }

    .subtitle {
        @include media-breakpoint-down( sm ) {
            padding: 0;
            &::after,
            &:before {
                display: none;
            }
        }
    }
    .display-3 {
        font-size: 3rem;
        line-height: 1;
        @include media-breakpoint-up( md ) {
            font-size: 4.5rem;
            line-height: 1;
        }
    }
    .search-bar {
        margin-bottom: 20px;
        .fas {
            line-height: 25px;
            font-size: 20px;
        }
    }

    form label {
        padding: 0  10px;
        font-family: $headings-font-family;
        color: $primary;
    }

    .form-control {
        text-transform: uppercase;
        font-size: 13px;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.2s ease-out;
        &::placeholder {
            transition: all 0.2s ease-out;
            color: #4b566b;
        }

        &:hover {
           background-color: #efefef !important;
        }
    }
    .dropdown-toggle:hover {
        background-color: #efefef !important;
        color: $body-color !important;
        border-color: transparent;
        &::after {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23373f50' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e") !important;
        }
    }

    .form-container {
        //padding-left: 7px;
        //padding-right: 7px;
    }

    .box {
        //padding-bottom: 10px;
        border-bottom: 1px solid #ddd;
        .fas{
            width: 25px;
            text-align: center;
        }

        &-last {
            border-bottom: 0;
            padding-bottom: 0px;
        }

        @include media-breakpoint-up( md ) {
            //border-right: 1px solid #ddd;
            border-bottom: 0;

            &-first {
                border-right: 0;
                border-bottom: 1px solid #ddd;
            }

            &-last {
                border-right: 0;
            }
        }

        @include media-breakpoint-up( lg ) {
            &-first {
                //border-right: 1px solid #ddd;
                border-bottom: 0;
            }
        }
    }
}


