//
// list-group
// --------------------------------------------------

.list-group {
    .list-group-item {
        font-weight: bold;
        font-size: 11px;
        text-transform: uppercase;
    }

}
