//
// Sections
// --------------------------------------------------

.section-spacing {
    padding-top: 25px;
    padding-bottom: 25px;

    @include media-breakpoint-up( md ) {

        padding-top: 40px;
        padding-bottom: 40px;
        &.page-header{
            padding-top: 25px;
            padding-bottom: 25px;
            p {
                margin-bottom: 0;
            }
        }
    }
}

.section {

    h2.title {
        font-size: 1.8rem;
        font-weight: 400;
        font-style: normal;
        line-height: 1.2em;
        text-decoration: none;
        text-transform: uppercase;
        //letter-spacing: -2px;

        @include media-breakpoint-up( md ) {
            font-size: 2.1rem;
            line-height: 1.2em;
        }
    }

}

.section__features {
    background-image: url("../images/bg-section-features.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}




//Footer
.footer {
    color: #FFF;
    &__top {
        background-color: #413e49;
    }

    &__copyright {
        color: rgba(255,255,255,0.5);
        background-color: #393741;
    }
}


