.swiper-container {

    &.home-products-carousel{
        padding-bottom: 35px;
    }

    .swiper-pagination {
        .swiper-pagination-bullet {
            width: 6px;
            height: 6px;
            border-radius: 3px;
            opacity: 0.2;
            transition: width 0.3s ease-out;

            &-active {
                opacity: 1;
                width: 14px;
            }
        }
    }
}
