//
// Text
// --------------------------------------------------
h1,h2,h3,h4 {
    text-transform: uppercase;
}
.font-sans{
    font-family: $font-family-base;
}

.subtitle {
    color: $primary;
    position: relative;
    display: inline-block;
    clear: both;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-left: 2rem;
    margin-bottom: 15px;

   &.subtitle-center {
       padding-right: 3rem;

       &::after {
           content: '';
           position: absolute;
           top: 50%;
           transform: translateY(-50%);
           right: 0;
           height: 1px;
           width: 1.2rem;
           background-color: $primary;
       }
   }

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        height: 1px;
        width: 1.8rem;
        background-color: $primary;
    }

    @include media-breakpoint-up( sm ) {
        padding-left: 5rem;
        &.subtitle-center {
            padding-right: 5rem;
            &::after {
                width: 3.6rem;
            }
        }
        &::before,
        &::after {
            width: 3.6rem;
        }
    }

    &.text-white {
        &::before,
        &::after {
            background-color: white;
        }
    }
}
