// Body
$body-bg: #fff;

// Typography
//$font-family-sans-serif: 'Open Sans', sans-serif;
//$headings-font-family: 'Libre Baskerville', sans-serif;
$font-family-sans-serif: 'Open Sans', sans-serif;
$headings-font-family: 'asterina', sans-serif;

$font-size-base: 0.825rem;
$line-height-base: 1.6;
$navbar-brand-font-weight: bold;

$enable-rounded: false;
$enable-shadows: false;
$enable-responsive-font-size: true;
$fa-font-path:         "../webfonts" !default;

// Colors

// Grayscale
$white:                 #fff !default;
$gray-100:              #f6f9fc !default;
$gray-200:              #f3f5f9 !default;
$gray-300:              #e3e9ef !default;
$gray-400:              #dae1e7 !default;
$gray-500:              #aeb4be !default;
$gray-600:              #7d879c !default;
$gray-700:            	#4b566b !default;
$gray-800:              #373f50 !default;
$gray-900:              #2b3445 !default;
$black:                 #000 !default;


$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


//$primary:       #d5b0a0;
$primary: #b5907f;
$secondary:     #413D49;
$accent : #fbf2e9;
$secondaryDark: #393741;
$tertiary:      #8a898a;
$info:		              #69b3fe !default;
$success:               #42d697 !default;
$warning:               #fea569 !default;
$danger:                #f34770 !default;
$light:                 #FFF;
$dark:                  $gray-800 !default;


//swiper
$themeColor : $primary;


$theme-colors: (
    "primary":          $primary,
    "secondary":        $secondary,
    "secondaryDark":    $secondaryDark,
    "tertiary":         $tertiary,
    "accent":           $accent,
    "success":          $success,
    "info":             $info,
    "warning":          $warning,
    "danger":           $danger,
    "light":            $light,
    "dark":             $dark
);


$border-width:                1px !default;
$border-color:                $gray-300 !default;
$border-light-color:          $gray-200;


// Border colors map
$border-colors: (
  'primary':    rgba($primary, .35),
  'accent':     rgba($accent, .35),
  "success":    rgba($success, .35),
  "info":       rgba($info, .35),
  "warning":    rgba($warning, .35),
  "danger":     rgba($danger, .35),
  "light":      $gray-300,
  "dark":       rgba($dark, .35)
) !default;

$border-radius:               .3125rem !default;
$border-radius-lg:            .4375rem !default;
$border-radius-sm:            .25rem !default;

$box-shadow:                  0 .25rem 0.5625rem -.0625rem rgba($black, .03), 0 .275rem 1.25rem -.0625rem rgba($black, .05) !default;
$box-shadow-lg:               0 .3rem 1.525rem -.375rem rgba($black, .1) !default;
$box-shadow-sm:               0 .125rem 0.3rem -.0625rem rgba($black, .03), 0 .275rem .75rem -.0625rem rgba($black, .06) !default;
$box-shadow-inset:            inset 0 1px 2px transparent !default;




// Spacing

$spacer: 1rem !default;
$grid-gutter-width: 1.875rem !default;

// Modifying default Bootstrap's $spacers map
$spacers: (
  0: 0,
  1: $spacer / 4,
  2: $spacer / 2,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  10: ($spacer * 10),
  'grid-gutter': $grid-gutter-width
) !default;

// Grid breakpoints
//
// Modifying default Bootstrap's $grid-breakpoints map
$grid-breakpoints: (
  xs: 0,
  sm: 500px,
  md: 768px,
  lg: 992px,
  xl: 1280px,
  xxl: 1400px
) !default;



// Grid containers
//
// Modifying default Bootstrap's $container-max-widths map (max-width of .container)
$container-max-widths: (
  sm: 100%,
  md: 100%,
  lg: 100%,
  xl: 1260px
) !default;

// Navs
$nav-link-padding-y:                      .75rem !default;
$nav-link-padding-x:                      1.25rem !default;
$nav-link-font-weight:                    normal !default;
$nav-link-color:                          $gray-700 !default;
$nav-link-hover-color:                    $primary !default;
$nav-link-active-color:                   $primary !default;
$nav-link-light-color:                    rgba($white, .65) !default;
$nav-link-light-hover-color:              $white !default;
$nav-link-light-active-color:             $white !default;
$nav-link-transition:                     color .25s ease-in-out, background-color .25s ease-in-out, box-shadow .25s ease-in-out, border-color .25s ease-in-out !default;


//$font-size-base:              1rem !default;
$font-size-xl:                ($font-size-base * 1.625) !default;
$font-size-lg:                ($font-size-base * 1.125) !default;
$font-size-md:                ($font-size-base * .9375) !default;
$font-size-sm:                ($font-size-base * .875) !default;
$font-size-ms:                ($font-size-base * .8125) !default;
$font-size-xs:                ($font-size-base * .75) !default;

$h1-font-size:                $font-size-base * 2 !default;
$h2-font-size:                $font-size-base * 1.75 !default;
$h3-font-size:                $font-size-base * 1.5 !default;
$h4-font-size:                $font-size-base * 1.25 !default;
$h5-font-size:                $font-size-base * 1.2 !default;
$h6-font-size:                $font-size-base * 1.2 !default;

// Modifying default Bootstrap's $font-sizes map
$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size,
  'xl':   $font-size-xl,
  'lg':   $font-size-lg,
  'base': $font-size-base,
  'md':   $font-size-md,
  'sm':   $font-size-sm,
  'ms':   $font-size-ms,
  'xs':   $font-size-xs
) !default;

$font-weight-medium:          500 !default;

$headings-margin-bottom:      ($spacer * .75) !default;
$headings-font-weight:        $font-weight-medium !default;

$line-height-base:            1.5 !default;
$line-height-lg:              1.5 !default;
$line-height-sm:              1.5 !default;

$display-font-sizes: (
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem,
  404: 10rem
) !default;

$display-font-weight:         $headings-font-weight !default;
$display-line-height:         1 !default;

$small-font-size:             .8em !default;





// Navbar

$navbar-padding-y:                    $spacer * .75 !default;
$navbar-nav-link-padding-y:           1rem !default;
$navbar-nav-link-padding-x:           1.125rem !default;

$navbar-brand-padding-y:              $spacer * .625 !default;
$navbar-brand-font-size:              $h3-font-size !default;
$navbar-brand-font-weight:            $font-weight-medium !default;

$navbar-toggler-padding-y:            .75rem !default;
$navbar-toggler-padding-x:            .75rem !default;
$navbar-toggler-font-size:            $font-size-base !default;
$navbar-toggler-border-radius:        0 !default;



$navbar-dropdown-min-width:           12.5rem !default;
$navbar-mega-dropdown-column-width:   15rem !default;

$navbar-light-color:                  $gray-900 !default;
$navbar-light-hover-color:            $primary !default;
$navbar-light-active-color:           $primary !default;
$navbar-light-disabled-color:         $gray-600 !default;
$navbar-light-toggler-border-color:   transparent !default;
$navbar-light-brand-color:            $gray-800 !default;
$navbar-light-brand-hover-color:      $navbar-light-brand-color !default;

$navbar-dark-color:                   rgba($white, .65) !default;
$navbar-dark-hover-color:             $white !default;
$navbar-dark-active-color:            $white !default;
$navbar-dark-disabled-color:          rgba($white, .35) !default;
$navbar-dark-toggler-border-color:    transparent !default;
$navbar-dark-brand-color:             $white !default;
$navbar-dark-brand-hover-color:       $navbar-dark-brand-color !default;

$navbar-tool-transition:              color .25s ease-in-out !default;
$navbar-tool-icon-box-size:           2rem !default;
$navbar-tool-icon-font-size:          1.5rem !default;
$navbar-tool-label-size:              1.25rem !default;
$navbar-tool-label-bg:                $primary !default;
$navbar-tool-label-color:             $white !default;
$navbar-tool-label-font-size:         $font-size-xs !default;
$navbar-tool-label-font-weight:       $font-weight-medium !default;
$navbar-tool-text-font-size:          $font-size-sm !default;

$navbar-light-tool-color:             $gray-700 !default;
$navbar-light-tool-hover-color:       $gray-900 !default;
$navbar-light-tool-text-small-color:  $gray-600 !default;

$navbar-dark-tool-color:              $white !default;
$navbar-dark-tool-hover-color:        $white !default;
$navbar-dark-tool-text-small-color:   rgba($white, .5) !default;

$navbar-stuck-box-shadow:             $box-shadow !default;


// Topbar

$topbar-padding-y:                    .625rem !default;
$topbar-font-size:                    $font-size-sm !default;

$topbar-light-color:                  rgba($gray-700, .9) !default;
$topbar-light-muted-color:            rgba($gray-600, .9) !default;
$topbar-light-hover-color:            $gray-800 !default;
$topbar-light-active-color:           $gray-800 !default;
$topbar-light-icon-color:             $primary !default;

$topbar-dark-color:                   rgba($white, .65) !default;
$topbar-dark-muted-color:             rgba($white, .45) !default;
$topbar-dark-hover-color:             $white !default;
$topbar-dark-active-color:            $white !default;
$topbar-dark-icon-color:              $primary !default;


// Dropdowns

$dropdown-border-color:             $border-color !default;
$dropdown-divider-margin-y:         $spacer / 4 !default;

$dropdown-link-font-size:           $font-size-sm !default;
$dropdown-link-font-weight:         bold !default;
$dropdown-link-color:               $gray-700 !default;
$dropdown-link-hover-color:         $primary !default;
$dropdown-link-hover-bg:            transparent !default;
$dropdown-link-active-color:        $primary !default;
$dropdown-link-active-bg:           transparent !default;
$dropdown-link-transition:          all .25s ease-in-out !default;
$dropdown-link-icon-size:           $dropdown-link-font-size !default;

$dropdown-item-padding-y:           .425rem !default;
$dropdown-item-padding-x:           1.3rem !default;

$dropdown-header-color:             $secondary !default;

$dropdown-dark-color:               rgba($white, .65) !default;
$dropdown-dark-border-color:        transparent !default;
$dropdown-dark-divider-bg:          $border-light-color !default;
$dropdown-dark-box-shadow:          none !default;
$dropdown-dark-link-color:          $dropdown-dark-color !default;
$dropdown-dark-link-hover-bg:       transparent !default;
$dropdown-dark-link-active-color:   $white !default;
$dropdown-dark-link-active-bg:      $dropdown-dark-link-hover-bg !default;
$dropdown-dark-link-disabled-color: rgba($white, .4) !default;
$dropdown-dark-header-color:        $white !default;



// Forms

$form-text-margin-top:              .375rem !default;
$form-text-font-size:               $font-size-xs !default;

$form-label-margin-bottom:          .375rem !default;
$form-label-font-size:              $font-size-sm !default;
$form-label-font-weight:            $font-weight-medium !default;
$form-label-color:                  $secondary !default;

$input-border-color:                $gray-400 !default;
$input-disabled-bg:                 $gray-100 !default;
$input-focus-box-shadow:            0 .375rem .625rem -.3125rem rgba($primary, .2) !default;
$input-focus-border-color:          lighten($primary, 15%) !default;

// Checkboxes and radios
$form-check-input-active-filter:    none !default;
$form-check-label-font-size:        $font-size-sm !default;
$form-check-input-border:           1px solid darken($gray-400, 8%) !default;
$form-check-input-border-radius:    .3125em !default;
$form-check-input-disabled-opacity: .6 !default;

// Range
$form-range-thumb-bg:               $primary !default;
$form-range-thumb-active-bg:        darken($form-range-thumb-bg, 9%) !default;

// Switches
$form-switch-color:                 $white !default;
$form-switch-width:                 2.1875rem !default;
$form-switch-height:                1.25rem !default;
$form-switch-padding-start:         $form-switch-width + .5rem !default;
$form-switch-focus-color:           $form-switch-color !default;
$form-switch-bg:                    darken($input-border-color, 3%) !default;
$form-switch-checked-bg:            $primary !default;
$form-switch-checked-box-shadow:    0 .375rem .875rem -.3rem $form-switch-checked-bg !default;

// custom options: Size and Color
$form-option-size:                  2rem !default;
$form-option-padding-x:             .375rem !default;
$form-option-border-width:          $border-width !default;
$form-option-border-color:          $border-color !default;
$form-option-border-radius:         $border-radius-sm !default;
$form-option-hover-border-color:    darken($border-color, 8%) !default;
$form-option-active-border-color:   $primary !default;
$form-option-font-size:             $font-size-xs !default;
$form-option-font-weight:           normal !default;
$form-option-color:                 $gray-700 !default;
$form-option-hover-color:           $gray-800 !default;
$form-option-active-color:          $primary !default;
$form-option-transition:            color .2s ease-in-out, border-color .2s ease-in-out !default;


$input-group-addon-bg:              $white !default;
$input-group-icon-size:             $font-size-base !default;

$form-file-button-color:            $gray-800 !default;
$form-file-button-bg:               $gray-100 !default;
$form-file-button-hover-bg:         $form-file-button-bg !default;

$file-drop-area-preview-width:      16rem !default;


// Form Validation

$form-feedback-valid-color:         $success !default;
$form-feedback-invalid-color:       $danger !default;
$form-feedback-icon-valid:          url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none' stroke='#{$form-feedback-valid-color}' stroke-width='1' stroke-linecap='round' stroke-linejoin='round'><circle cx='6' cy='6' r='5'></circle><polyline stroke-width='1.15' points='11 2 6 7.5 3.8 6.01'></polyline></svg>") !default;
$form-feedback-icon-invalid:        url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none' stroke='#{$form-feedback-invalid-color}' stroke-width='1' stroke-linecap='round' stroke-linejoin='round'><circle cx='6' cy='6' r='5'></circle><line x1='8' y1='4' x2='4' y2='8'></line><line x1='4' y1='4' x2='8' y2='8'></line></svg>") !default;
$form-feedback-tooltip-opacity:      .1 !default;
