// If you want to override variables do it here
@import "variables";

$enable-ltr: true;
$enable-rtl: false;


// Import styles
@import "~@coreui/coreui/scss/functions";
@import "~@coreui/coreui/scss/mixins";
//@import "~@coreui/coreui/scss/variables";
@import "~@coreui/coreui/scss/coreui";
// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "layout";
//
//// Prism.js
//@import "examples";
//
//// If you want to add custom CSS you can put it here.
//@import "custom";

.badge{
    &.status{
        &-1{
            background-color: #ffc107;
        }
        &-2{
            background-color: #a4d671;
            color:white
        }
        &-3{
            background-color: #00bcd4;
        }
        &-4{
            background-color: #da4779;
            color:white
        }
        &-5{
            background-color: #92a8b3;
            color:white
        }
        &-6{
            background-color: #d3d3d3;
            text-decoration: line-through;
        }


    }
    &.booking-type{
        background-color: #3c4b64;
        color: white;
    }
}
